<div id="wish-{{ wish.id }}"
     class="bg-white border border-gray-200 rounded xl p-4 flex items-start gap-4">

	<form
			hx-post="{{ url_for('update_wish', wish_id=wish.id) }}"
			hx-target="#wish-{{ wish.id }}"
			hx-swap="outerHTML"
			class="flex w-full gap-4"
			>
			<div class="text-gray-300 text-lg">
				☰
			</div>

		{{ form.hidden_tag() }}

		{{ form.title(class="w-full border rounded-md px-3 py-2") }}
		{{ form.note(class="w-full border rounded-md px-3 py-2") }}
		{{ form.link(class="w-full border rounded-md px-3 py-2") }}

		<div class="flex gap-2 items-start">
			{{ form.submit(class="text-sm bg-purple-600 text-white px-3 py-1 rounded-md") }}
		</div>
	</form>

</div>

