<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
	</head>
		<title>Simple Wishlist</title>
	</head>
	<body>
		<div class="flex w-full">
			<div class="flex w-full justify-start p-4 text-purple-500 text-bold text-xl">
				Simple Wishlist
			</div>
			<div class="flex w-full justify-end p-4">
				<a href="{{ url_for('index') }}">Home</a>
				{% if current_user.is_anonymous %}
				<a href="{{ url_for('login') }}">Login</a>
				{% else %}
				<a href="{{ url_for('logout') }}">Logout</a>
				{% endif %}
			</div>
		</div>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}

		<script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
	</body>
</html>
