{% extends "base.html" %}

{% block content %}
<div class="w-full mb-4 flex justify-between pt-8 px-4">
	<h1 class="text-lg">Your Wishlist</h1>
	<hr>
	<button
		hx-get="{{ url_for('new_wish_modal') }}"
		hx-target="#modal"
		hx-swap="innerHTML"
		class="bg-purple-600 hover:bg-purple-700 text-white font-semibold px-4 py-2 rounded-md shadow">
		+ Add to Wishlist
	</button>
</div>
<form id="wishlist" class="sortable space-y-4" hx-post="/wishlist_items" hx-trigger="end" hx-swap="none">
{% for wish in wishes %}
	{% include "wishes/_user_wish_row.html" %}
{% endfor %}
</form>

<div id="modal"></div>

<script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
<script src="{{ url_for('static', filename='js/sorting.js') }}"></script>

{% endblock %}

